
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form method="post">
    <label>Enter UserID </label>
    <input type="number" name="id" value="" />
    <br />
    <br />
    <label>Enter User Name </label>
    <input type="text" name="name" value="" />
    <br />
    <br />
    <label>Enter Password </label>
    <input type="password" name="password" value="" />
    <br />
    <br />
    <input type="submit" name=" Create" value="" />|| <a href="LoginDetails "> Already User</a> 


</form>

