
@{
    ViewBag.Title = "FindCategory";
}

<h2>FindCategory</h2>
@Html.ActionLink("Electronics", "ShowProducts", new {  id=1}) |
@Html.ActionLink("Books", "ShowProducts", new {  id=2}) |
@Html.ActionLink("Clothes", "ShowProducts", new {  id=3 })
