
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>
<form method="post">
    <label>Enter New password</label>
    <input type="password" name=" Password" value="" />
    <br />
    <br />
    <label>Enter Re-Enter password</label>
    <input type="password" name=" Password" value="" />
    <br />

    <input type="Submit" name=" Re-Set Password" value="Re-Set password" />
</form>

