
@{
    ViewBag.Title = "LoginDetails";
}

<h2>LoginPage</h2>
<form method="post">
    <label>Enter UserID </label>
    <input type="number" name="id" value="" />
    <br />
    <br />
    <label>Enter User Name </label>
    <input type="text" name="name" value="" />
    <br />
    <br />
    <label>Enter Password </label>
    <input type="password" name="password" value="" />
    <br />
    <br />
    <input type="submit" name="Login" value="Login" />|| <a href=" ForgotPassword" > Forgot Password</a>|| <a href="Create">New User</a> 
   

</form>



